/*
=============== 
Font
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(21, 91%, 17%);
  --clr-primary-2: hsl(21, 84%, 25%);
  --clr-primary-3: hsl(21, 81%, 29%);
  --clr-primary-4: hsl(21, 77%, 34%);
  --clr-primary-5: hsl(21, 62%, 45%);
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --main-color: hsl(193, 84%, 64%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: Lato;
  --ff-secondary: Roboto;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
.btn {
  text-transform: uppercase;
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 0.5rem;
}
.btn:hover {
  color: var(--clr-black);
  background: transparent;
}
/* section */
.section {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* Navbar */
nav {
  margin: 0;
  position: relative;
}
.nav-header {
  padding: 0.5rem 0.5rem 0.2rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-black);
  box-shadow: var(--light-shadow);
}

.nav-header h4 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  letter-spacing: var(--spacing);
  color: var(--clr-white);
  padding: 0.5rem 0 0.5rem;
  font-family: var(--ff-primary);
}

.icon-nav {
  background: transparent;
  border-color: transparent;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: var(--main-color);
  cursor: pointer;
}

.nav-items {
  display: none;
  position: absolute;
  top: 3.5rem;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background: var(--clr-white);
}

@media screen and (min-width: 532px) {
  .nav-center {
    display: flex;
    justify-content: space-between;
  }
  .nav-header {
    background: none;
    box-shadow: none;
  }
  .nav-header h4 {
    color: var(--clr-white);
    display: none;
  }
  .nav-header button {
    display: none;
  }

  .nav-items::before {
    content: "Dial to save";
    display: block;
    border-bottom: 1px solid;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding: 0 0 1rem 0;
    color: white;
  }
  .nav-items {
    display: block;
    position: fixed;
    width: 12rem;
    height: 24rem;
    background-color: rgba(0, 0, 0, 0.4);
    top: 5rem;
    left: 0.2px;
    padding: 1.2rem 0.8rem;
  }
  .nav-items a {
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0 0 1rem 0;
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
    color: var(--main-color);
  }
  .nav-items a svg {
    margin-right: 0.6rem;
  }
}

/* Hero */

article {
  line-height: 1;
  text-align: center;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  background: url(./image/piggy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero p {
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
  margin: 4rem 4rem;
  color: var(--clr-white);
  text-transform: capitalize;
  font-weight: bold;
  font-family: var(--ff-secondary);
}
.hero p span {
  display: block;
  font-size: 1.9rem;
  font-weight: bold;
  font-style: italic;
  color: var(--clr-white);
  padding: 0;
  margin: 1rem 0 0;
  line-height: 1;
  font-family: var(--ff-secondary);
}
.hero p .turn-text {
  font-weight: normal;
  font-style: italic;
  color: var(--main-color);
  font-family: var(--ff-primary);
}

.btn-hero {
  transition: var(--transition);
  border: none;
  padding: 0.5rem 1.2rem;
  color: var(--clr-white);
  background-color: var(--main-color);
}

.btn-hero:hover {
  color: var(--clr-black);
  background: var(--clr-white);
}
.btn-div {
  margin-top: -2rem;
}

@media screen and (min-width: 982px) {
  .hero p {
    padding: 3rem;
    font-size: 2rem;
  }
  .hero p span {
    font-size: 3.8rem;
  }
  .btn-div {
    margin-top: -4rem;
  }
}

.horizon {
  display: block;
  width: 75%;
  position: absolute;
  top: 7rem;
  left: 2rem;
  right: 2rem;
  margin: auto;
  border: 1px solid #fff;
}

.horizon-bottom {
  display: block;
  width: 75%;
  position: absolute;
  bottom: 14rem;
  left: 2rem;
  right: 2rem;
  margin: auto;
  border: 1px solid #fff;
}
@media screen and (min-width: 656px) {
  .horizon {
    display: none;
  }
  .horizon-bottom {
    display: none;
  }
}
@media screen and (min-width: 999px) {
  .horizon {
    display: block;
    width: 60%;
    top: 5rem;
    left: 5rem;
    right: 5rem;
    margin: auto;
    border: 2px solid #fff;
  }
  .horizon-bottom {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .hero::before {
    max-width: 100%;
    height: auto;
  }
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.4rem 1rem;
  background-color: #2c2c2c;
  color: white;
  z-index: 100;
}

.icon-field {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

.icon-field a {
  font-size: 1.2rem;
  color: var(--clr-white);
  margin-right: 1.2rem;
  margin-top: 0;
}

footer p {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-weight: thin;
  margin-bottom: 0;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 27%;
  height: 100%;
  background: #2c2c2c;
  color: var(--clr-white);
  z-index: 200;
  transition: var(--transition);
  transform: translate(100%);
}
.show-sidebar {
  transform: translate(0);
}

.sidebar-header {
  background: var(--clr-black);
  padding: 0 0 0.35em;
}

.close-sidebar-btn {
  text-align: center;
  border-color: transparent;
  font-size: 2.2rem;
  background: transparent;
  margin-top: 1rem;
  padding: 0 1.5rem;
  color: var(--main-color);
  transition: var(--transition);
}

.close-sidebar-btn:hover {
  color: var(--clr-white);
}

.links {
  text-align: center;
  border-bottom: 1px solid #fff;
  padding: 1rem 0;
  margin: 0 3px;
}

.links a {
  display: block;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  color: var(--clr-white);
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  transition: var(--transition);
}

.links a:hover {
  color: var(--main-color);
}

.social-sidebar {
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
  place-items: center;
}

.social-sidebar a {
  font-size: 1.3rem;
  color: var(--main-color);
}

.social-sidebar a:hover {
  color: var(--clr-white);
}
